<?xml version='1.0' encoding='utf-8'?>
<!--This does not replace URDF, and is not an extension of URDF.
    This is a format for representing semantic information about the robot structure.
    A URDF file must exist for this robot as well, where the joints and the links that are referenced are defined
-->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="panda">
  <xacro:include filename="$(find simple_panda_moveit_config)/config/panda_arm.xacro" />
  <xacro:panda_arm />

  <xacro:arg name="arm_name" default="panda"/>
  <xacro:arg name="camera_name" default="panda_d435i"/>
  <xacro:arg name="clipper_name" default="panda_clipper"/>
  <!--END EFFECTOR: Purpose: Represent information about an end effector.-->

  <!--
  <end_effector name="camera" parent_link="panda_link8" group="hand" parent_group="panda_arm" />
-->
  <!--DISABLE COLLISIONS: By default it is assumed that any link of the robot could potentially come into collision with any other link in the robot. This tag disables collision checking between a specified pair of links. -->

  <disable_collisions link1="$(arg clipper_name)_link" link2="panda_link8" reason="Adjacent" />
  <disable_collisions link1="$(arg clipper_name)_link" link2="panda_link7" reason="Default" />

  <disable_collisions link1="$(arg clipper_name)_link" link2="$(arg camera_name)_bottom_screw_frame" reason="Adjacent" />
  <disable_collisions link1="$(arg clipper_name)_link" link2="$(arg camera_name)_link" reason="Default" />


</robot>
