<launch>

    <!-- Launches gazebo with the a Panda arm controlled via joint efofrts
         all the nodes necessary to control and monitor the cartpole
         via ROS.
    -->
    <env name="ROSCONSOLE_FORMAT" value="[${severity}] [${walltime}] [${node}]: ${message}" />

    <arg name="gui" default="true"/>
    <arg name="noplugin" default="false"/>
    <arg name="start_controllers" default="true"/>
    <arg name="load_gripper" default="false"/>
    <arg name="robot_name" value="panda"/> <!-- robot name must be panda for the moveit config to work -->
    <arg name="control_mode" default="effort"/>
    <arg name="simulated" default="true"/>
    <arg name="physics_engine" default="bullet"/>
    <arg name="robot_ip" default="0.0.0.0"/> <!-- only needed in the real -->

    <param name="/use_sim_time" value="$(arg simulated)"/> <!-- Needs to be set even if false -->

    <remap from="robot_description" to="$(arg robot_name)_description"/>
    <remap from="robot_description_semantic" to="$(arg robot_name)_description_semantic"/>

    <!-- Launch gazebo simulation -->
    <include file="$(find gazebo_gym)/launch/launch_panda_effort_gazebo_sim.launch" >
      <arg name="gui" value="$(arg gui)"/>
      <arg name="noplugin" value="$(arg noplugin)"/>
      <arg name="start_controllers" value="$(arg start_controllers)"/>
      <arg name="load_gripper" value="$(arg load_gripper)"/>
      <arg name="robot_name" value="$(arg robot_name)"/>
      <arg name="control_mode" value="$(arg control_mode)"/>
      <arg name="simulated" value="$(arg simulated)"/>
      <arg name="physics_engine" value="$(arg physics_engine)"/>
      <arg name="robot_ip" value="$(arg robot_ip)"/>
    </include>


    <!-- Launch moveit -->
    <include file="$(find lr_panda_moveit_config)/launch/move_group.launch" >
      <!-- reduce output logs -->
      <env name="ROSCONSOLE_CONFIG_FILE" value="$(find gazebo_gym)/config/rosconsole_warn.config" />
      <arg name="robot_description_name" value="$(arg robot_name)_description"/>
      <arg name="load_gripper" value="$(arg load_gripper)"/>
      <arg name="control_mode" default="$(arg control_mode)"/>
    </include>

    <!-- launch moveit helper -->
    <node name="move_helper" pkg="gazebo_gym_utils" type="move_helper" respawn="true" output="screen">
      <!-- reduce output logs -->
      <env name="ROSCONSOLE_CONFIG_FILE" value="$(find gazebo_gym)/config/rosconsole_warn.config" />
      <param name="planning_group_name" type="str" value="panda_arm"/>
      <param name="default_ee_link" type="str" value="panda_link8"/>
    </node>


</launch>
