<launch>
    <!-- CAMERA PARAMS -->
    <arg name="camera_name" default="panda_d435i"/>
    <arg name="static" default="false"/>
    <arg name="label_format" default="UINT8"/>
    <arg name="topics_ns" default="d435i"/>
    <arg name="enable_gravity" default="true"/>
    <arg name="color_width" default="1920"/>
    <arg name="color_height" default="1080"/>
    <arg name="color_fps" default="30"/>
    <arg name="enable_color" default="true"/>
    <arg name="enable_label" default="false"/>
    <arg name="infra_width" default="1280"/>
    <arg name="infra_height" default="720"/>
    <arg name="infra_fps" default="30"/>
    <arg name="enable_infra1" default="true"/>
    <arg name="enable_infra2" default="true"/>
    <arg name="depth_width" default="1280"/>
    <arg name="depth_height" default="720"/>
    <arg name="depth_fps" default="30"/>
    <arg name="enable_depth" default="true"/>
    <arg name="enable_gyro" default="true"/>
    <arg name="enable_accel" default="true"/>
    <arg name="gyro_fps" default="400"/>
    <arg name="accel_fps" default="400"/>

    <!-- aRM PARAMS -->
    <arg name="robot_name" default="panda_d435i"/>
    <arg name="robot_base_x" default="0"/>
    <arg name="robot_base_y" default="0"/>
    <arg name="robot_base_z" default="0"/>
    <arg name="robot_base_roll" default="0"/>
    <arg name="robot_base_pitch" default="0"/>
    <arg name="robot_base_yaw" default="0"/>
    <arg name="robot_parent_link" default="world"/>
    <arg name="control_mode" default="effort"/>

    <!-- GENERAL PARAMS -->
    <arg name="gui" default="true"/>
    <arg name="noplugin" default="false"/>
    <arg name="start_controllers" default="true"/>
    <arg name="load_gripper" default="false"/>


    <remap from="robot_description" to="$(arg robot_name)_description"/>
    <remap from="robot_description_semantic" to="$(arg robot_name)_description_semantic"/>

    <include file="$(find gazebo_gym)/launch/fixed_camera_gazebo_sim.launch" >
      <arg name="gui" value="$(arg gui)"/>
      <arg name="noplugin" value="$(arg noplugin)"/>
      <arg name="paused" value="false"/>
      <arg name="physics_engine" value="bullet"/>
    </include>

    <param name="$(arg robot_name)_description"
           command="$(find xacro)/xacro '$(find gazebo_gym)/models/panda_d435i.urdf.xacro'
                      robot_name:=$(arg robot_name)
                      robot_base_x:=$(arg robot_base_x)
                      robot_base_y:=$(arg robot_base_y)
                      robot_base_z:=$(arg robot_base_z)
                      robot_base_roll:=$(arg robot_base_roll)
                      robot_base_pitch:=$(arg robot_base_pitch)
                      robot_base_yaw:=$(arg robot_base_yaw)
                      robot_parent_link:=$(arg robot_parent_link)
                      control_mode:=$(arg control_mode)
                      load_hand:=$(arg load_gripper)

                      camera_name:=$(arg camera_name)
                      static:=$(arg static)
                      label_format:=$(arg label_format)
                      topics_ns:=$(arg topics_ns)
                      enable_gravity:=$(arg enable_gravity)
                      color_width:=$(arg color_width)
                      color_height:=$(arg color_height)
                      color_fps:=$(arg color_fps)
                      enable_color:=$(arg enable_color)
                      enable_label:=$(arg enable_label)
                      infra_width:=$(arg infra_width)
                      infra_height:=$(arg infra_height)
                      infra_fps:=$(arg infra_fps)
                      enable_infra1:=$(arg enable_infra1)
                      enable_infra2:=$(arg enable_infra2)
                      depth_width:=$(arg depth_width)
                      depth_height:=$(arg depth_height)
                      depth_fps:=$(arg depth_fps)
                      enable_depth:=$(arg enable_depth)
                      enable_gyro:=$(arg enable_gyro)
                      enable_accel:=$(arg enable_accel)
                      gyro_fps:=$(arg gyro_fps)
                      accel_fps:=$(arg accel_fps)" />


    <include file="$(find panda)/launch/panda_generic.launch" >
      <arg name="simulated" value="true"/>
      <arg name="launch_gazebo" value="false"/>
      <arg name="start_controllers" value="$(arg start_controllers)"/>
      <arg name="load_gripper" value="$(arg load_gripper)"/>
      <arg name="control_mode" value="$(arg control_mode)"/>
      <arg name="robot_name" value="$(arg robot_name)"/>
      <arg name="load_robot_description" value="false"/>
      <arg name="start_joint_pose" value="0 0 0 -1 0 2.570795 0"/>
    </include>


</launch>
